:root {
  --white: #fff;
  --black: #000;
  --same-black: #333;
  --sub-black: rgba(0, 0, 0, 0.478);
  --number-black: rgba(0, 0, 0, 0.639);

  --gray: #f5f5f5;
  --hover-gray: rgba(0, 0, 0, 0.078);
  --focus: #2049DF;
}