main {
  background: url('/src/images/cover.png') left 0 / contain ;
  background-repeat: no-repeat;
}

@media (orientation: portrait) {
  main {
    background-size: cover;
    background-position: center;
  }
}


article {
  position: absolute;
  width: 50%;
  height: calc(100% - 20px);
  right: 0;
  top: 50%;
  translate: -10px -50%;
  border-radius: 16px;
  background-color: var(--white);
  border: 1px solid var(--outline-gray);
  overflow: hidden;
}

.tab_body {
  height: 100%;
  padding-block-start: 34px;
  padding-inline: 25px;
  
  .tab_body_title {
    font-size: 1.125rem;
    font-weight: 700;
    margin-block-end: 16px;
    color: var(--tiile-black);
  }
}

/* 계좌 정보 영역 */
.account_inquiry {
  display: block;
}

/* 투자 현황 영역 */
.investment_status {
  display: none;
}

/* 최근 거래 카드 영역 */
.transaction_history {
  display: none;
}

/* 카드 관리 영역 */
.card_management {
  display: none;
}