@layer font, a11y, normalize, base, theme, components;

@import './common/_font.css' layer(font);
@import './common/_a11y.css' layer(a11y);
@import './common/_normalize.css' layer(normalize);
@import './common/_base.css' layer(base);
@import './common/_theme.css' layer(theme);

@import './components/_container.css' layer(components);