.card-section {
  display: flex;
  width: 100%;
  height: 100%;
  background: url('/src/images/img-cover.png') center center / contain;
  background-repeat: no-repeat;
  cursor: url('/src/images/cursor.svg'), auto;
}
