.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 100%;
  background: url('/src/images/img-cover.png') center center / contain;
  background-repeat: no-repeat;
  cursor: url('/src/images/cursor.svg'), auto;

  .card_button {
    cursor: url('/src/images/cursor.svg'), auto;
  }
}
