@font-face {
  font-family: 'noto-sans-kr';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('/src/font/NotoSansKR-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'menlo';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/src/font/Menlo-Regular.ttf') format('truetype');
}